body {
  font-family: sans-serif;
}

input {
  padding: 3px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
}

button {
  padding: 3px 10px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

li {
  margin-right: 10px;
}

.inputArea {
  width: 400px;
  background-color: powderblue;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.incompleteArea {
  width: 400px;
  min-height: 300px;
  background-color: wheat;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.completeArea {
  width: 400px;
  min-height: 300px;
  background-color: palegreen;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #666;
}

.todo {
  display: flex;
  margin-bottom: 10px;
}
